
/*General*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #fff;
}
div.modal{
  color: #000;
}

div.modal div.modal-body p.titulo{
  font-weight: 900;
}

div.modal-header {
  border-bottom: none;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;

}
a:hover,
a:focus {

  text-decoration: none;
}

.close {
  font-size: 4.5rem;
  right: -50px;
  top: -20px;
  position: absolute;
  text-shadow: none;
  opacity: 1;
  color: #7d7d7d;
}
button.close {
    padding: 0;
    background-color: white;
    border: black solid 4px;
    border-radius: 80px;
}
.modal-header .close {
    padding: 0px 19px;
    margin: 0;
}
.modal-content{
  font-size: 30px;
}
.modal-content figure{
  margin-bottom: 0;
}
.modal-content p.contenido{
  margin-top: 40px;
}
/*Botones*/


/*Fin General*/
/*Contenido*/
div.bgContenido{
  background-image: url('../images/futuros/bgFuturos.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
/*Menu*/
div.opciones{
  cursor: pointer;
}

div.bgAzul{
  background: #03123D;
}
div.bgAzul:hover,div.bgAzul:focus{
 
  background: #12235F;
}
div.opciones.active{
 
  background: #B1132F;
}
div.opciones.active2{
 
  background: rgba(0, 159, 213, 0.8);
}
div.bgGris1{
  background: #7C7F80;
}

div.bgGris2{
  background: #9295A2;
}

div.bgGris3{
  background: #7D7F83
}
div.bgGris4{
  background: #606060;
}
div.menu p{
  margin-bottom: 0;
  text-align: left;
  font-size: 25px;
  line-height: 25px;
}

hr.horizontal{
  border: 0;
  width: 25%;
  margin: 0 auto 0 0;
}
hr.horizontal.rojo{
  border-top: 3px solid #c30824;
}

div.opciones.active hr.horizontal.rojo{
  border-top: 3px solid #fff;
}

/*portada*/
div#portada p.titulo{
  margin-bottom: 0;
  text-align: center;
  /*padding: 20px 0;*/
  font-size: 70px;
  line-height: 70px;
}
div#portada p.titulo span.diagonalRojo{
  color: #B1132F;
  margin-right: 10px;
  margin-left: : 10px;
}
div#portada figure{
  margin-left: 235px;
    margin-top: 80px;
}
/*Seccion futuros posibles*/
div#campana div.bgPrepa{
  background-image: url('../images/futuros/invitacion_Campana_1.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#campana p.titulo{
  margin-bottom: 0;
  text-align: center;
  /*padding: 20px 0;*/
  font-size: 40px;
}
div#campana p.titulo span.diagonalRojo{
  color: #B1132F;
  margin-right: 10px;
}
div#campana div.bgPrepa div.bgTitulo{
  background: rgba(0, 159, 213, 0.8);
}
div#campana div.bgLicenciatura div.bgTitulo{
  background: rgba(18, 35, 95, 0.8);
}
div#campana div.bgPosgrado div.bgTitulo{
  background: rgba(3, 18, 61, 0.8);
}

div#campana div.bgLicenciatura{
  background-image: url('../images/futuros/invitacion_Campana_2.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#campana div.bgPosgrado{
  background-image: url('../images/futuros/invitacion_Campana_3.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#imagenesCampana figure{
  margin-bottom: 0;
}
/*Plataformas*/
.h-33{
  height: 33.3%!important;
}
div#plataformas p.titulo{
  margin-bottom: 0;
  text-align: center;
  font-size: 60px;
}
div#plataformas p.titulo span.diagonalRojo{
  color: #B1132F;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 900;
}
.bgSitio{
  background-image: url('../images/plataformas/invitacion_Plataformas_2.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgTest{
  background-image: url('../images/plataformas/invitacion_Plataformas_1.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgForo{
  background-image: url('../images/plataformas/invitacion_Plataformas_3.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#modalG1 p.titulo,
#modalG2 p.titulo,
#modalG3 p.titulo,
#modalM1 p.titulo,
#modalM2 p.titulo{
  text-align: center;
  font-size: 60px;
  color: rgb(18, 35, 95);
}

/*Quiz*/

/*Ilustraciones*/
.bgIl1{
  background-image: url('../images/ilustraciones/Ilustraciones_Close_Pedro.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgIl2{
  background-image: url('../images/ilustraciones/Ilustraciones_Close_Alan.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgIl3{
  background-image: url('../images/ilustraciones/Ilustraciones_Close_Tania.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgIl4{
  background-image: url('../images/ilustraciones/Ilustraciones_Close_Javier_A.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgIl5{
  background-image: url('../images/ilustraciones/Ilustraciones_Close_Saucedo.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgIl6{
  background-image: url('../images/ilustraciones/Ilustraciones_Close_Javier_B.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgIl7{
  background-image: url('../images/ilustraciones/Ilustraciones_Close_Meave.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgIl8{
  background-image: url('../images/ilustraciones/Ilustraciones_Close_Arturo.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgIl9{
  background-image: url('../images/ilustraciones/Ilustraciones_Close_Pichardo.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*Aceleradores*/
div#aceleradores div.bgA1{
  background-image: url('../images/aceleradores/Aceleradores_3D.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div#aceleradores div.bgA2{
  background-image: url('../images/aceleradores/Aceleradores_Boda.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#aceleradores div.bgA3{
  background-image: url('../images/aceleradores/Aceleradores_CAL.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#aceleradores div.bgA4{
  background-image: url('../images/aceleradores/Aceleradores_HappyPoint.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#aceleradores div.bgA5{
  background-image: url('../images/aceleradores/Aceleradores_Combustible.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#aceleradores div.bgA6{
  background-image: url('../images/aceleradores/Aceleradores_Esperanza.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#aceleradores div.bgA7{
  background-image: url('../images/aceleradores/Aceleradores_Carros.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#aceleradores div.bgA8{
  background-image: url('../images/aceleradores/Aceleradores_NASA.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#aceleradores div.bgA9{
  background-image: url('../images/aceleradores/Aceleradores_Unicel.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#aceleradores p.titulo{
  margin-bottom: 0;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  text-shadow: black 3px 3px 8px;
}
div#aceleradores p.titulo.vehiculo{
  font-size: 23px;
  line-height: 23px;
}
div#aceleradores p.titulo.unicel{

  font-size: 23px;
  line-height: 23px;
}
div#aceleradores p.titulo span.diagonalRojo{
  color: #B1132F;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 900;
}

/*aplicaciones campaña*/
div#imagenesCampana div.bgAC1{
  background-image: url('../images/aplicacion/Medios_Menu_Prepa.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#imagenesCampana div.bgAC2{
  background-image: url('../images/aplicacion/Medios_Menu_Lic.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#imagenesCampana div.bgAC3{
  background-image: url('../images/aplicacion/Medios_Menu_Posg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div#imagenesCampana div.bgAC4{
  background-image: url('../images/aplicacion/Medios_Menu_Gen.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div#quiz p.reload{
  text-align: center;
  background: #7c7f80;
  padding: 15px 20px;
}
#myCarousel .list-inline,
#myCarousel2 .list-inline,
#myCarousel3 .list-inline,
#myCarousel4 .list-inline,
#myCarousel5 .list-inline,
#myCarousel6 .list-inline   {
    white-space:nowrap;
    
}

#myCarousel .carousel-indicators,
#myCarousel2 .carousel-indicators,
#myCarousel3 .carousel-indicators,
#myCarousel4 .carousel-indicators,
#myCarousel5 .carousel-indicators,
#myCarousel6 .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li,
#myCarousel2 .carousel-indicators > li,
#myCarousel3 .carousel-indicators > li,
#myCarousel4 .carousel-indicators > li,
#myCarousel5 .carousel-indicators > li,
#myCarousel6 .carousel-indicators > li{
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img,
#myCarousel2 .carousel-indicators > li.active img,
#myCarousel3 .carousel-indicators > li.active img,
#myCarousel4 .carousel-indicators > li.active img,
#myCarousel5 .carousel-indicators > li.active img,
#myCarousel6 .carousel-indicators > li.active img {
    opacity: 0.7;
}

/*Fin Footer*/
/*Media Queries*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){


}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)  {


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){ 

}

/* Extra large devices (large desktops, 1200px and up*/
@media (min-width: 1200px) {
  .modal-xl {
      width: 80%;
      max-width:1000px;
  }
  .modal-dialog{
    margin-bottom: 10px;
  }
}